body {
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar{}

.navbar .nav1 {
  display: flex;
  position: sticky;
  top: 0;
  background-color:  white;
  z-index: 1000;
  width: 100%;
  justify-content: flex-start;
  padding: 5px 50px;
  gap: 20px;
  justify-content: center;
  border-bottom: 4px solid #ccc; /* Optional: visual separation */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
.box {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.box:hover {
  background-color: brightblue;
  color: #007BFF;
}

.logo {
    width: 60px;
    height: 50px;
    border: 3px solid ;
    border-radius: 2px;
}
